@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #2B2730;
}

:root{
    --yellow: rgb(255, 96, 0);
    --brown: rgb(247, 147, 39);
    --mud: rgb(255, 229, 105);
}

@keyframes background-pan{
    from{
        background-position: 0% center;
    }    

    to{
        background-position: -200% center;
    }
}
.first-page{
    position: relative;
    width: 100%;
    height: 100vh;

}

.text-logo{
    color: #ffff;
    font-size: 20px;
    margin: 10px 0px;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 10px;
    align-items: center;
    justify-content: space-between;
}

.name{
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right, var(--yellow), var(--brown), var(--mud), var(--yellow));
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;

}

.details{
    margin-left: 8%;
    margin-top: 15%;
}

.details h1{
    font-size: 50px;
    color: #ffff;
    margin-bottom: 20px;
}

.details p{
    color: #ffff;
    line-height: 22px;
}

.details .cv{
    background: rgb(255, 229, 105);
    padding: 0.75rem 2rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #2B2730;
    display: inline-block;
    margin-top: 150px;
    border-radius: 0.3rem;
}

.btn{
    border: 1px solid rgb(255, 229, 105);
    background: none;
    padding: 0.75rem 2.5rem;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(255, 229, 105);
    transition: 0.2s;
    border-radius: 0.3rem;
}


.btn:hover{
    color: rgb(247, 147, 39);
    border-color: rgb(247, 147, 39);
}

.second-page{
    position: relative;
    width: 100%;
    height: 100vh;
}

.headers{
    color: var(--mud);
}

#dev{
    font-size: 22px;
}

#dev .dev2{
    font-family: 'Caveat';
}

.skill-list{
    list-style-type: none;
}

h3{
    margin: 5px;
}

.skill-list{
    justify-content: center;
    width: 250px;
    margin: 10px auto;
    color: #ffff;
    /*padding: 20px;*/
    margin-left: 8%;
}

@media screen and (min-width: 600px) {
    .skill-list {
      width: 1250px;
    }
}
    

.skill-list li{
    margin: 20px 0;
    padding: 10px;
}

.bar{
    background: var(--mud);
    display: block;
    height: 10px;
    border: 0px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, var(--yellow)0%, rgba(252, 103, 103, 1)100%);
}

.html{
    width: 90%;
    animation: html 3s;
}

.css{
    width: 70%;
    animation: css 3s;
}

.cplus{
    width: 45%;
    animation: cplus 3s;
}

.JAVA{
    width: 10%;
    animation: JAVA 3s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes cplus{
    0%{
        width: 0%;
    }
    100%{
        width: 45%;
    }
}

@keyframes JAVA{
    0%{
        width: 0%;
    }
    100%{
        width: 10%;
    }
}