*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #2B2730;
}

:root{
    --yellow: rgb(255, 96, 0);
    --brown: rgb(247, 147, 39);
    --mud: rgb(255, 229, 105);
}

@keyframes background-pan{
    from{
        background-position: 0% center;
    }    

    to{
        background-position: -200% center;
    }
}
.corner{
    position: relative;
    width: 100%;
    height: 100vh;

}

.text-logo{
    color: #ffff;
    font-size: 20px;
    margin: 10px 0px;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 10px;
    align-items: center;
    justify-content: space-between;
}

.name{
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right, var(--yellow), var(--brown), var(--mud), var(--yellow));
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;

}

.details{
    margin-left: 8%;
    margin-top: 15%;
}

.details h1{
    font-size: 50px;
    color: #ffff;
    margin-bottom: 20px;
}

.details p{
    color: #ffff;
    line-height: 22px;
}

.details .cv{
    background: rgb(255, 229, 105);
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #2B2730;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.btn{
    border: 1px solid rgb(255, 229, 105);
    background: none;
    padding: 12px 36px;
    font-weight: bold;
    margin: 0;
    color: rgb(255, 229, 105);
    transition: 0.2s;
    border-radius: 5px;
}

.btn:hover{
    color: rgb(247, 147, 39);
    border-color: rgb(247, 147, 39);
}


